
@{
    ViewData["Title"] = "Attributions";
}

<h1>Attributions</h1>

<div class="row">
	<div class="col-12">
		<p>All bag images and text taken from the following sources:</p>
		<ul>
			<li><a href="https://www.fjallraven.com/uk/en-gb/bags-gear/backpacks-bags" target="_blank">Fjällräven</a></li>
			<li><a href="https://www.skatehut.co.uk/brands/hype/+bags-and-wallets-backpacks" target="_blank">Hype Bags - Skate Hut</a></li>
			<li><a href="https://www.oasis-stores.com/gb/shoes-accessories/bags-purses/" target="_blank">Oasis</a></li>
			<li><a href="https://www.debenhams.com/women/accessories/handbags/dorothy-perkins" target="_blank">Dorothy Perkins - Debenhams</a></li>
		</ul>
	</div>
</div>